/* Fundo verde escuro */
body {
    background-color: #10231f; /* Tom do fundo do CV */
    font-family: 'Arial', sans-serif;
}

/* Títulos com destaque em verde-limão */
h1 span {
    color: #32cd32; /* Verde limão */
}

.image-container img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 5px solid #10231f;
    transition: transform 0.3s ease;
}

/* Zoom na imagem ao passar o mouse */
.image-container img:hover {
    transform: scale(1.1);
}

/* Links das redes sociais */
.social-links a {
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.social-links a:hover {
    transform: scale(1.2);
    color: #32cd32;
}

/* Botões */
.btn-green-lime {
    background-color: #32cd32;
    border: none;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn-green-lime:hover {
    background-color: #28a745; /* Tom ligeiramente mais escuro */
}

.btn-outline-light:hover {
    background-color: #fff;
    color: #10231f;
}
